::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #7f7b8051;
}

::-webkit-scrollbar-thumb {
  background: #ffffff8f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ab7ea2;
}
body{
    background-color: rgba(4, 4, 4, 0.376);
    color: white;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(imges/lav_bg.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; 
}
.container {
  height: 91%;
  width: fit-content;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top_minibar_inventory{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    animation: fadeIn 0.5s ease-in-out
}

.main_bar_inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_new_item {
  color: white;
  align-self: flex-end;
  background-color: #48464660;
  padding: 8px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(109, 106, 106, 0.648);
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}
.add_new_item:hover {
  border-color: rgba(182, 102, 228, 0.682);
  background-color: rgba(151, 10, 232, 0.779);
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: #48464660;
  border: 1px solid #504e4e9c;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
  animation: fadeIn 1.5s ease-in-out
}

.item:hover {
  border-color: rgba(182, 102, 228, 0.682);
  box-shadow: 0 4px 12px rgba(161, 56, 170, 0.329);
  background-color: rgba(154, 2, 242, 0.459);
  cursor: pointer;
}

.item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.low_stock {
  color: yellow;
  font-weight: bold;
}

.in_stock {
  color: green;
  font-weight: bold;
}

.out_of_stock {
  color: red;
  font-weight: bold;
}